@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers*@
@using Cornea.Application.Services.Users.Queries.FindUsers
@using Cornea.Common.Dto
@model ResultDto<ResultFindUsersService>;
@{
    ViewData["Title"] = "PersonalInfo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Datatables</span> - Select</h4>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>
            <div class="heading-elements">
                <div class="heading-btn-group">
                    <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                    <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                </div>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-component">
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="datatable_extension_select.html">Datatables</a></li>
                <li class="active">Select</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li><a href="#" class="legitRipple"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <i class="icon-gear position-left"></i>
                        Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                        <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                        <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Basic example</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="reload"></a></li>
                    </ul>
                </div>
            </div>
            

            <form action="PersonalInfo" method="post" id="ProfileForm" enctype="multipart/form-data" class="steps-basic">
                <h6>Personal data</h6>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Full name:</label>
                                <input type="text" class="form-control" placeholder="John" id="Fullname" name="Fullname" value="@Model.Data.Fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select position:</label>
                                <select name="position" data-placeholder="Select position" class="select">
                                    <option selected="selected">@Model.Data.Position</option>
                                    <optgroup label="Developer Relations">
                                        <option value="Sales Engineer">Sales Engineer</option>
                                        <option value="Ads Solutions Consultant">Ads Solutions Consultant</option>
                                        <option value="Technical Solutions Consultant">Technical Solutions Consultant</option>
                                        <option value="Business Intern">Business Intern</option>
                                    </optgroup>

                                    <optgroup label="Engineering &amp; Design">
                                        <option value="Interaction Designer">Interaction Designer</option>
                                        <option value="Technical Program Manager">Technical Program Manager</option>
                                        <option value="Software Engineer">Software Engineer</option>
                                        <option value="Information Security Engineer">Information Security Engineer</option>
                                    </optgroup>

                                    <optgroup label="Marketing &amp; Communications">
                                        <option value="Media Outreach Manager">Media Outreach Manager</option>
                                        <option value="Research Manager">Research Manager</option>
                                        <option value="Marketing Intern">Marketing Intern</option>
                                        <option value=">Business Intern">Business Intern</option>
                                    </optgroup>

                                    <optgroup label="Sales Operations">
                                        <option value="Sales Operations Analyst">Sales Operations Analyst</option>
                                        <option value="Technology Product Manager">Technology Product Manager</option>
                                        <option value="Product Expert">Product Expert</option>
                                        <option value="Sales Insights Analyst">Sales Insights Analyst</option>
                                        <option value="Customer Operations Analyst">Customer Operations Analyst</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone #:</label>
                                <input type="text" name="Phone" id="Phone" class="form-control" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-9999" value="@Model.Data.Phone">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email address:</label>
                                <input type="email" class="form-control" placeholder="your@email.com" id="Email" name="Email" value="@Model.Data.Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <img src="@Model.Data.Imagedir" id="Preview" name="Preview" class="img-preview">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="display-block">Profile photo:</label>
                                    <input name="Imagedir" id="Imagedir" type="file" class="file-styled">
                                    <span class="help-block">Accepted formats: pdf, doc. Max file size 2Mb</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date of birth:</label>
                                <div class="input-group">
                                    <input type="text" name="Birthday" id="Birthday" value="@Model.Data.Birthday" class="form-control daterange-single">
                                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <script>
                    $('#Imagedir').on('change', function () {
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('#Preview')
                                    .attr('src', e.target.result);
                            };

                            reader.readAsDataURL(this.files[0]);
                        }
                    });
                </script>
                <h6>Your education</h6>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>University:</label>
                                <input type="text" name="university" id="university" placeholder="University name" class="form-control" value="@Model.Data.University">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>From:</label>
                                    <div class="form-group">
                                        <input type="text" name="StartEducationTime" id="StartEducationTime" placeholder="October, 2020." class="form-control" value="@Model.Data.StartEducationTime">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>To:</label>
                                    <div class="form-group">
                                        <input type="text" name="FinishEducationTime" id="FinishEducationTime" placeholder="October, 2020." class="form-control" value="@Model.Data.FinishEducationTime">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Degree level:</label>
                                <input type="text" name="DegreeLevel" id="DegreeLevel" placeholder="Bachelor, Master etc." class="form-control" value="@Model.Data.DegreeLevel">
                            </div>

                            <div class="form-group">
                                <label>Specialization:</label>
                                <input type="text" name="specialization" id="specialization" placeholder="Design, Development etc." class="form-control" value="@Model.Data.Specialization">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <h6>Your experience</h6>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company:</label>
                                <input type="text" name="Company" id="Company" placeholder="Company name" class="form-control" value="@Model.Data.Company">
                            </div>

                            <div class="form-group">
                                <label>Position:</label>
                                <input type="text" name="experience-position" id="experience-position" placeholder="" class="form-control" value="@Model.Data.Position">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>From:</label>
                                    <div class="form-group">
                                        <input type="text" name="StartLastjobTime" id="StartLastjobTime" placeholder="October, 2020." class="form-control" value="@Model.Data.StartLastjobTime">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>To:</label>
                                    <div class="form-group">
                                        <input type="text" name="FinishLastjobTime" id="FinishLastjobTime" placeholder="October, 2020." class="form-control" value="@Model.Data.FinishLastjobTime">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Brief description:</label>
                                <textarea name="LastjobDescription" id="LastjobDescription" rows="5" cols="4" placeholder="Tasks and responsibilities" class="form-control" value="@Model.Data.LastjobDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <h6>Additional info</h6>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="display-block">Applicant resume:</label>
                                <input type="file" name="Resumedir" id="Resumedir" class="file-styled">
                                <span class="help-block">Accepted formats: pdf, doc. Max file size 2Mb</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Additional information:</label>
                                <textarea name="additional-info" rows="4" cols="5" placeholder="If you want to add any info, do it here." class="form-control" value="@Model.Data.AdditionalInfo"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>

    </div>
    <!-- /content area -->
</div>
<!-- /main content -->

<script>
    $(".steps-basic").steps({
        headerTag: "h6",
        bodyTag: "fieldset",
        transitionEffect: "fade",
        titleTemplate: '<span class="number">#index#</span> #title#',
        labels: {
            finish: 'Submit'
        },
        onFinished: function (event, currentIndex) {
            $("#ProfileForm").submit();
        }
    });

</script>


