@using Cornea.Site
@using Cornea.Site.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["itemProfile"] = "";
    ViewData["itemChangePassword"] = "";
    ViewData["itemDashboard"] = "";
    ViewData["itemProjects"] = "";
    ViewData["itemAddProject"] = "";
    ViewData["itemTasks"] = "";
    ViewData["itemAddTask"] = "";
    ViewData["itemCustomers"] = "";
    ViewData["itemAddCustomer"] = "";
    ViewData["itemProducts"] = "";
    ViewData["itemAddProduct"] = "";
    ViewData["itemFactors"] = "";
    ViewData["itemAddFactor"] = "";
    ViewData["itemPersonalInfo"] = "";
    ViewData["itemSourcePage"] = "";
    switch (ViewBag.activeItem)
    {
        case "Profile":
            ViewData["Profile"] = "active";
            break;
        case "itemChangePassword":
            ViewData["itemChangePassword"] = "active";
            break;
        case "itemDashboard":
            ViewData["itemDashboard"] = "active";
            break;
        case "itemProjects":
            ViewData["itemProjects"] = "active";
            break;
        case "itemAddProject":
            ViewData["itemAddProject"] = "active";
            break;
        case "itemTasks":
            ViewData["itemTasks"] = "active";
            break;
        case "itemAddTask":
            ViewData["itemAddTask"] = "active";
            break;
        case "itemCustomers":
            ViewData["itemCustomers"] = "active";
            break;
        case "itemAddCustomer":
            ViewData["itemAddCustomer"] = "active";
            break;
        case "itemProducts":
            ViewData["itemProducts"] = "active";
            break;
        case "itemAddProduct":
            ViewData["itemAddProduct"] = "active";
            break;
        case "itemFactors":
            ViewData["itemFactors"] = "active";
            break;
        case "itemAddFactor":
            ViewData["itemAddFactor"] = "active";
            break;
        case "itemPersonalInfo":
            ViewData["itemPersonalInfo"] = "active";
            break;
        case "itemSourcePage":
            ViewData["itemSourcePage"] = "active";
            break;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/AdminTemplate/assets/css/colors.css" rel="stylesheet" type="text/css">

    <style>
        .daterangepicker {
            z-index: 1100 !important;
        }
    </style>
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/tables/datatables/extensions/natural_sort.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery_ui/core.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/wizards/form_wizard/form.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/wizards/form_wizard/form_wizard.min.js"></script>


    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jasny_bootstrap.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/extensions/cookie.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/notifications/bootbox.min.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/media/fancybox.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/pickers/pickadate/picker.date.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/inputs/alpaca/alpaca.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/forms/inputs/alpaca/price_format.min.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>


    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/uploader_bootstrap.js"></script>
    @*<script type="text/javascript" src="~/AdminTemplate/assets/js/pages/wizard_steps.js"></script>*@
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/form_multiselect.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/tasks_list.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/datatables_api.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/wizard_form.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/form_select2.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/components_modals.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/gallery_library.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/picker_date.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/alpaca_advanced.js"></script>

    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/form_validation.js"></script>
    <script type="text/javascript" src="~/AdminTemplate/assets/js/pages/user_pages_profile.js"></script>



    <script type="text/javascript" src="~/AdminTemplate/assets/js/plugins/ui/ripple.min.js"></script>

    @*@RenderSection("Styles", false)*@

</head>
<body>
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- Main navbar -->
    <div class="navbar navbar-default header-highlight">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="~/AdminTemplate/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-puzzle3"></i>
                        <span class="visible-xs-inline-block position-right">Git updates</span>
                        <span class="status-mark border-pink-300"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Git updates
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                </div>

                                <div class="media-body">
                                    Add full font overrides for popovers and tooltips
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                    <div class="media-annotation">Dec 18, 18:36</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="media-annotation">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="navbar-right">
                <p class="navbar-text">Hi, @User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value!</p>
                <p class="navbar-text"><span class="label bg-success">Online</span></p>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-bell2"></i>
                            <span class="visible-xs-inline-block position-right">Activity</span>
                            <span class="status-mark border-pink-300"></span>
                        </a>

                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Activity
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-menu7"></i></a></li>
                                </ul>
                            </div>

                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs"><i class="icon-paperplane"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs"><i class="icon-plus3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                        <div class="media-annotation">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs"><i class="icon-truck"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Shipping cost to the Netherlands has been reduced, database updated
                                        <div class="media-annotation">Feb 8, 11:30</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs"><i class="icon-bubble8"></i></a>
                                    </div>

                                    <div class="media-body">
                                        New review received on <a href="#">Server side integration</a> services
                                        <div class="media-annotation">Feb 2, 10:20</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                        <div class="media-annotation">Feb 1, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-bubble8"></i>
                            <span class="visible-xs-inline-block position-right">Messages</span>
                            <span class="status-mark border-pink-300"></span>
                        </a>

                        <div class="dropdown-menu dropdown-content width-350">
                            <div class="dropdown-content-heading">
                                Messages
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-compose"></i></a></li>
                                </ul>
                            </div>

                            <ul class="media-list dropdown-content-body">
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">5</span>
                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">04:58</span>
                                        </a>

                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">4</span>
                                    </div>

                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Margo Baker</span>
                                            <span class="media-annotation pull-right">12:16</span>
                                        </a>

                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Jeremy Victorino</span>
                                            <span class="media-annotation pull-right">22:48</span>
                                        </a>

                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Beatrix Diaz</span>
                                            <span class="media-annotation pull-right">Tue</span>
                                        </a>

                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="media-left"><img src="~/AdminTemplate/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="#" class="media-heading">
                                            <span class="text-semibold">Richard Vango</span>
                                            <span class="media-annotation pull-right">Mon</span>
                                        </a>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>

                            <div class="dropdown-content-footer">
                                <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user-material">
                        <div class="category-content">
                            <div class="sidebar-user-material-content">
                                <a href="#" class="legitRipple"><img src="@User.FindFirst(System.Security.Claims.ClaimTypes.Uri).Value" class="img-circle img-responsive" alt=""></a>
                                <h6>@User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value</h6>
                                <span class="text-size-small">@User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value</span>
                            </div>
                            <div class="sidebar-user-material-menu">
                                <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                            </div>
                        </div>
                        <div class="navigation-wrapper collapse" id="user-nav">
                            <ul class="navigation">
                                <li class="@ViewData["itemProfile"]"><a href="/Admin/MyAccount/Profile?searchKey=@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" class="legitRipple"><i class="icon-user-plus"></i>My profile</a></li>
                                <li class="@ViewData["itemPersonalInfo"]"><a href="/Admin/MyAccount/PersonalInfo?searchKey=@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value"><i class="icon-profile"></i>Personal info</a></li>
                                <li class="@ViewData["itemChangePassword"]"><a href="/Admin/MyAccount/ChangePassword?searchKey=@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" class="legitRipple"><i class="icon-cog5"></i>Change Password</a></li>
                                <li><a href="/Authentication/SignOut" class="legitRipple"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class="@ViewData["itemDashboard"]"><a href="/Admin/Home/Main"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <!-- Tables -->
                                <li class="navigation-header"><span>R&D</span> <i class="icon-menu" title="Tables"></i></li>
                                <li>
                                    <a><i class="icon-portfolio"></i> <span>Projects</span></a>
                                    <ul>
                                        <li class="@ViewData["itemProjects"]"><a href="/Admin/Project/Projects">Projects List</a></li>
                                        <li class="@ViewData["itemAddProject"]"><a href="/Admin/Project/CreateProject">Add Project</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="icon-task"></i> <span>Tasks</span></a>
                                    <ul>
                                        <li class="@ViewData["itemTasks"]"><a href="/Admin/Task/Tasks">Tasks List</a></li>
                                        <li class="@ViewData["itemAddTask"]"><a href="/Admin/Task/CreateTask">Add Task</a></li>
                                    </ul>
                                </li>

                                <li class="navigation-header"><span>Financial</span> <i class="icon-menu" title="Tables"></i></li>
                                <li>
                                    <a><i class="icon-users4"></i> <span>Customers</span></a>
                                    <ul>
                                        <li class="@ViewData["itemCustomers"]"><a href="/Admin/Customer/Customers">Customers List</a></li>
                                        <li class="@ViewData["itemAddCustomer"]"><a href="/Admin/Customer/CreateCustomer">Add Customer</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-wrench"></i> <span>Products</span></a>
                                    <ul>
                                        <li class="@ViewData["itemProducts"]"><a href="/Admin/Product/Products">Products List</a></li>
                                        <li class="@ViewData["itemAddProduct"]"><a href="/Admin/Product/CreateProduct">Add Product</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-coins"></i> <span>Factors</span></a>
                                    <ul>
                                        <li class="@ViewData["itemFactors"]"><a href="/Admin/Factor/Factors">Factors List</a></li>
                                        <li class="@ViewData["itemAddFactor"]"><a href="/Admin/Factor/CreateFactor">Add Factor</a></li>
                                    </ul>
                                </li>
                                <li class="navigation-header"><span>Source</span> <i class="icon-menu" title="Tables"></i></li>
                                <li>
                                    <a><i class="icon-users4"></i> <span>Source</span></a>
                                    <ul>
                                        <li class="@ViewData["itemSourcePage"]"><a href="/Admin/Home/Source">Source page</a></li>
                                        <li class="@ViewData["itemRegister"]"><a href="/Admin/Home/AddNewUser">Add User</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            @RenderBody()
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
