@using Cornea.Application.Services.Task.Queries.GetTasks
@model ResultGetTasksDto;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <div class="row">
            @foreach (var data in Model.taskslist)
            {
                <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-area="Admin" asp-action="Profile">

                    <div class="col-md-6">
                        <div class="panel border-left-lg border-left-primary">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h6 class="no-margin-top"><a href="task_manager_detailed.html"> @data.TaskName</a></h6>
                                        <br />
                                        <h6 class="no-margin-top"> @data.Message</h6>
                                        <div class="form-group" hidden="hidden">
                                            <input type="text" class="form-control" id="id" name="id" value="@data.Id">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <label class="control-label col-md-5" style="padding:0px 0px 0px 0px">Status:</label>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <div class="group-btn">
                                                        <a href="#" class="label border-left-success label-striped dropdown-toggle" data-toggle="dropdown" ID="statuslabel">@data.Status<span class="caret"></span></a>
                                                        <ul class="dropdown-menu dropdown-menu-right" id="statuslist">
                                                            <li><a href="#"><span class="status-mark position-left border-danger"></span> Not Started</a></li>
                                                            <li><a href="#"><span class="status-mark position-left border-info"></span> Is Working</a></li>
                                                            <li><a href="#"><span class="status-mark position-left border-primary"></span> Completed</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-5" style="padding:0px 0px 0px 0px">Timeline:</label>
                                            <div class="col-md-7">
                                                <div class="progress progress-rounded" id="h-center-basic">
                                                    @{long? percent = 0;
                                                        int passedTime = (DateTime.Now - data.StartTime).Days;
                                                        @if (passedTime <= 0)
                                                        {
                                                            <span class="progressbar-back-text"> 0%</span>
                                                        }
                                                        else if (passedTime < data.Timeline)
                                                        {
                                                            <span class="progressbar-back-text">@((passedTime*100)/data.Timeline)%</span>
                                                            percent = (passedTime * 100) / data.Timeline;
                                                        }
                                                        else
                                                        {
                                                            <span class="progressbar-back-text">100%</span>
                                                            percent = 100;
                                                        }
                                                    }
                                                    <div class="progress-bar progress-bar-info" style="width:@percent%"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label class="col-lg-3 control-label text-semibold">Task file upload:</label>
                                    <div class="col-lg-9 text-right">
                                        <input type="file" id="files" name="files" class="file-input" data-browse-class="btn btn-primary btn-xs" data-remove-class="btn btn-default btn-xs" data-upload-class="btn btn-default btn-xs" data-show-caption="false" multiple="multiple">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
        <!-- /detached content -->
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
<script>
    $('#demolist li').on('click', function () {
        $('#datebox').val($(this).text());
    });
    $('#statuslist li').on('click', function () {
        $('#statuslabel').text($(this).text());
    });
</script>


